dashboard/dashboard.json
[
    {
        "id": "1ea3fd3913935cab",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "136fe26bb42aad53",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "192.168.100.137",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "87a5a3266dd7699a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#57e389",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2c279829f4cc3504",
        "type": "ui_tab",
        "name": "TELEMETRY",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89d72f4c774e35b7",
        "type": "ui_group",
        "name": "MEDICIONES",
        "tab": "2c279829f4cc3504",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0cfd861497caced",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "b01a5bbc1e470296",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "8e48bcbb0a54c567",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "8797cc9ffb19d4cd",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "96dfd2403a2d3465",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "ee338ce63880806d",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "0fb7da28bf88df18",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "c81c289ac627ddad",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 20,
        "width": 6,
        "height": 1
    },
    {
        "id": "c6e0e87dbc586764",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "0da4d107b480c186",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 24,
        "width": 6,
        "height": 1
    },
    {
        "id": "dda1a6bd89eed6d4",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 26,
        "width": 6,
        "height": 1
    },
    {
        "id": "6530afdb98b78b4f",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 27,
        "width": 6,
        "height": 1
    },
    {
        "id": "96ef40aaa5aa3fbd",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 28,
        "width": 6,
        "height": 1
    },
    {
        "id": "9440a2c8e7045aae",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 29,
        "width": 6,
        "height": 1
    },
    {
        "id": "c71593820f2b20a9",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 30,
        "width": 6,
        "height": 1
    },
    {
        "id": "d7e6b5c8ab3f3a98",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 31,
        "width": 6,
        "height": 1
    },
    {
        "id": "89805919f7789fc0",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 32,
        "width": 6,
        "height": 1
    },
    {
        "id": "40e0942f8190b80a",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 33,
        "width": 6,
        "height": 1
    },
    {
        "id": "0baf9c7b52a28de4",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 34,
        "width": 6,
        "height": 1
    },
    {
        "id": "a481c26e8a075641",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 35,
        "width": 6,
        "height": 1
    },
    {
        "id": "717000f45bfd269b",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 36,
        "width": 6,
        "height": 1
    },
    {
        "id": "6e50b2ab325b4606",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 37,
        "width": 6,
        "height": 1
    },
    {
        "id": "3135d13c9b08537d",
        "type": "ui_spacer",
        "z": "1ea3fd3913935cab",
        "name": "spacer",
        "group": "4a1a6ab730ba85dc",
        "order": 38,
        "width": 6,
        "height": 1
    },
    {
        "id": "d4c7db837d054089",
        "type": "ui_tab",
        "name": "CONFIGURATION",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8bdb1121f30ad0b2",
        "type": "ui_group",
        "name": "MODES",
        "tab": "d4c7db837d054089",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23945a629b244d5a",
        "type": "ui_group",
        "name": "CONFIGURATION DELAY",
        "tab": "d4c7db837d054089",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8bd9d08d85176ab8",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "64e2b587946e1717",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "1c32bf992a27d8ba",
        "type": "ui-page",
        "name": "Configuration",
        "ui": "8bd9d08d85176ab8",
        "path": "/configuration",
        "icon": "home",
        "layout": "grid",
        "theme": "64e2b587946e1717",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "95bcdae3f674c4d1",
        "type": "ui-group",
        "name": "Change Mode",
        "page": "1c32bf992a27d8ba",
        "width": "3",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "50cb3dfc1a6093cc",
        "type": "ui-page",
        "name": "telemetry",
        "ui": "8bd9d08d85176ab8",
        "path": "/telemetry",
        "icon": "home",
        "layout": "grid",
        "theme": "64e2b587946e1717",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2d8a16693c154b58",
        "type": "ui-group",
        "name": "Temperatura",
        "page": "50cb3dfc1a6093cc",
        "width": "4",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "407b8c1ca42b603a",
        "type": "ui-group",
        "name": "Humedad",
        "page": "50cb3dfc1a6093cc",
        "width": "4",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "66620aa8af4b1ee4",
        "type": "ui-group",
        "name": "Luz habitacion",
        "page": "50cb3dfc1a6093cc",
        "width": "4",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e99843f6cff94f24",
        "type": "mqtt in",
        "z": "1ea3fd3913935cab",
        "name": "",
        "topic": "ESP32/1/telemetry/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "136fe26bb42aad53",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "a750f758c91dd438"
            ]
        ]
    },
    {
        "id": "bff584d1ef3ae779",
        "type": "mqtt in",
        "z": "1ea3fd3913935cab",
        "name": "",
        "topic": "ESP32/1/telemetry/humidicity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "136fe26bb42aad53",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "6e27ddc6051fe079"
            ]
        ]
    },
    {
        "id": "23d715bb355ad54b",
        "type": "mqtt in",
        "z": "1ea3fd3913935cab",
        "name": "",
        "topic": "ESP32/1/telemetry/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "136fe26bb42aad53",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "b57a2fa2e6483919"
            ]
        ]
    },
    {
        "id": "d4997417eddfa940",
        "type": "function",
        "z": "1ea3fd3913935cab",
        "name": "topico",
        "func": "\nlet payload = msg.payload;\n\nmsg.payload = {}\n\nif(payload){\n    msg.topic = \"ESP32/1/config/ON\";\n}else{\n    msg.topic = \"ESP32/1/config/SLEEP\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 340,
        "wires": [
            [
                "a251141e5f85475b"
            ]
        ]
    },
    {
        "id": "a251141e5f85475b",
        "type": "switch",
        "z": "1ea3fd3913935cab",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ESP32/1/config/ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP32/1/config/SLEEP",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "f4b7fa4e7a1aae8f"
            ],
            [
                "8abe1f0ec2573e63"
            ]
        ]
    },
    {
        "id": "f4b7fa4e7a1aae8f",
        "type": "mqtt out",
        "z": "1ea3fd3913935cab",
        "name": "",
        "topic": "ESP32/1/config/ON",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "136fe26bb42aad53",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "8abe1f0ec2573e63",
        "type": "mqtt out",
        "z": "1ea3fd3913935cab",
        "name": "",
        "topic": "ESP32/1/config/SLEEP",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "136fe26bb42aad53",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "115ce542002e4d71",
        "type": "mqtt out",
        "z": "1ea3fd3913935cab",
        "name": "",
        "topic": "ESP32/1/config/CONFIG",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "136fe26bb42aad53",
        "x": 450,
        "y": 420,
        "wires": []
    },
    {
        "id": "709f9830a4e2585c",
        "type": "ui-button",
        "z": "1ea3fd3913935cab",
        "group": "95bcdae3f674c4d1",
        "name": "",
        "label": "Mode Configuration",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "115ce542002e4d71"
            ]
        ]
    },
    {
        "id": "421f260e251a22a4",
        "type": "ui-switch",
        "z": "1ea3fd3913935cab",
        "name": "ON/OFF",
        "label": "ON/OFF",
        "group": "95bcdae3f674c4d1",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "label",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "d4997417eddfa940"
            ]
        ]
    },
    {
        "id": "fa439bcb8c58f2fe",
        "type": "ui-text",
        "z": "1ea3fd3913935cab",
        "group": "2d8a16693c154b58",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "temperatura",
        "label": "Temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "83c9bcba1446d134",
        "type": "ui-text",
        "z": "1ea3fd3913935cab",
        "group": "407b8c1ca42b603a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "humedad",
        "label": "Humedad",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "26cddf90ba78ec30",
        "type": "ui-text",
        "z": "1ea3fd3913935cab",
        "group": "66620aa8af4b1ee4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "luz habitacion",
        "label": "Luz habitacion",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "a750f758c91dd438",
        "type": "function",
        "z": "1ea3fd3913935cab",
        "name": "temperatura",
        "func": "\nlet payload = msg.payload;\n\nlet temp = payload.temperature\nlet unit = payload.unidad;\n\nmsg.payload = `${temp} ${unit}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 60,
        "wires": [
            [
                "fa439bcb8c58f2fe"
            ]
        ]
    },
    {
        "id": "6e27ddc6051fe079",
        "type": "function",
        "z": "1ea3fd3913935cab",
        "name": "humedad",
        "func": "\nlet payload = msg.payload;\n\nlet humd = payload.humidicity\nlet unit = payload.unidad;\n\nmsg.payload = `${humd} ${unit}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "83c9bcba1446d134"
            ]
        ]
    },
    {
        "id": "b57a2fa2e6483919",
        "type": "function",
        "z": "1ea3fd3913935cab",
        "name": "temperatura",
        "func": "\nlet payload = msg.payload;\n\nlet light = payload.light\nif(light){\n    msg.payload = \"ENCENDIDO\"\n}else{\n    msg.payload = \"APAGADO\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 180,
        "wires": [
            [
                "26cddf90ba78ec30"
            ]
        ]
    }
]